@import url("/layout.css");

:root {
  color-scheme: light dark;
  --bg-color: light-dark(#fdf6e3, #2d353b);
  --fg-color: light-dark(#5c6a72, #d3c6aa);

  --bg-color-reverse: light-dark(#2d353b, #fdf6e3);
  --fg-color-reverse: light-dark(#d3c6aa, #5c6a72);

  --bg-color-3: light-dark(#efebd4, #232a2e);
  --bg-color-3-switch: light-dark(#232a2e, #efebd4);
  --bg-color-hard: light-dark(#fffbef, #272e33);
  --gray: light-dark(#a6b0a0, #748478);

  --orange: #e69875;
  --red: #e67e80;
  --green: #a7c080;
  --yellow: #dbbc7f;
  --blue: #7fbbb3;
  --purple: #d699b6;
  --aqua: #83c092;

  --orange-dim: light-dark(#eaedc8, #514045);
  --red-dim: light-dark(#fbe3da, #543a48);
  --green-dim: light-dark(#f0f1d2, #425047);
  --yellow-dim: light-dark(#faedcd, #4d4c43);
  --blue-dim: light-dark(#e9f0e9, #3a515d);
  --purple-dim: light-dark(#dda1ca, #725161);
  --aqua-dim: light-dark(#6da590, #46684e);
}

body {
  background-color: var(--bg-color);
  /*container-type: inline-size;*/
  font-family: "Curier New", monospace;
  margin: 0;
  min-height: 100svh;
  flex-direction: column;
  justify-content: space-evenly;
}

* {
  color: var(--fg-color);
  border: none;
  box-sizing: border-box;
}

h1,
h2 {
  background-color: var(--bg-color-reverse);
  color: var(--fg-color-reverse);
  text-align: center;
  text-decoration: none;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7 {
  transition: background 0.7s ease-in-out;
  margin-bottom: 0;
  &:hover { background-color: var(--dim-color); }
}

.s1 { background-color: var(--orange); --dim-color: var(--orange-dim); }
.s2 { background-color: var(--red); --dim-color: var(--red-dim); }
.s3 { background-color: var(--green); --dim-color: var(--green-dim); }
.s4 { background-color: var(--yellow); --dim-color: var(--yellow-dim); }
.s5 { background-color: var(--blue); --dim-color: var(--blue-dim); }
.s6 { background-color: var(--purple); --dim-color: var(--purple-dim); }
.s7 { background-color: var(--aqua); --dim-color: var(--aqua-dim); }

.c {
  padding: 1em;
  background-color: var(--bg-color-3);
  text-align: center;
}

img {
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.5);
  border: none;
  box-shadow: 5px 4px 10px black;
}

.pager {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: var(--fg-color-reverse);
  text-align: center;
}

.btn {
  transition: background 0.4s ease-in-out;

  cursor: pointer;
  background-color: var(--bg-color-reverse);
  color: var(--fg-color-reverse);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--bg-color-3-switch);
  }
}

.btn.pager-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  margin: 4px 2px;

  &.selected {
    background-color: var(--bg-color);
    color: var(--fg-color);

    border-color: var(--fg-color);
    border-width: thick;
    border-style: solid;
  }
}

.clickable {
  cursor: pointer;
}

.section {
  display: none;

  &.selected {
    display: block;
  }
}

.float-btns {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
}

.btn.float-btn {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;

  & i {
    color: var(--fg-color-reverse);
  }
}

.hidden {
  display: none !important;
}
